.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
.github/workflows
nirmaan_stack/public/frontend
nirmaan_stack/public/node_modules
nirmaan_stack/www/frontend.html
build
serviceAccountKey.json