name: Build and Push nirmaan_stack
on:
  push:
    tags:
    - '*'
  # workflow_dispatch:

jobs:
  clone-repo: 
    runs-on: ubuntu-latest

    steps:
    - name: Check out my other private repo
      uses: actions/checkout@v4
      with:
        repository: frappe/frappe_docker
        # token: ${{ secrets.NIRMAAN_ADMIN_PAT }}
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Create Apps.json
      run: |
        export APPS_JSON='[
          {
            "url": "https://github.com/The-Commit-Company/frappe-types.git",
            "branch": "main"
          },
          {
            "url": "https://github.com/Nirmaan-app/nirmaan_stack_frappe15_postgres_14.git",
            "branch": "${{ env.RELEASE_VERSION }}"
          },
          {
            "url": "https://github.com/Nirmaan-app/Frappe-attachments-s3.git",
            "branch": "master"
          }
        ]'
        echo "APPS_JSON_BASE64=$(echo ${APPS_JSON} | base64 -w 0)" >> $GITHUB_ENV
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GAR
      uses: docker/login-action@v3
      with:
        registry: asia-south1-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GAR_JSON_KEY }}
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: images/custom/Containerfile
        platforms: linux/amd64
        push: true
        tags: asia-south1-docker.pkg.dev/nirmaan-stack/nirmaan-project-stack/nirmaan-project-stack:${{ env.RELEASE_VERSION }}
        build-args: |
          FRAPPE_PATH=https://github.com/frappe/frappe
          FRAPPE_BRANCH=version-15
          PYTHON_VERSION=3.11.6
          NODE_VERSION=18.17.0
          APPS_JSON_BASE64=${{ env.APPS_JSON_BASE64 }}
          
          
      
      
